* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  height: 10vh;
  background-color: #5b78c7;
  position: fixed;
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links li {
  padding: 0.5rem;
}

.nav-links li a {
  color: #f1f1f1;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
  transition: all 0.4s ease-in-out;
}

.nav-links li a:hover {
  background-color: #4c4c4c;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(10, 146, 105, 0.904);
}

@media (max-width: 767px) {
  nav {
    position: relative;
    height: 0;
  }

  .hero {
    height: 100vh;
  }

  .nav-trigger {
    position: fixed;
    z-index: 2;
    cursor: pointer;
    right: 20px;
    top: 20px;
  }

  .nav-links {
    position: fixed;
    background-color: rgba(91, 120, 199, 0.95);
    height: 100vh;
    width: 100%;
    flex-direction: column;
    /* justify-content: space-around; */
    clip-path: circle(0px);
    -webkit-clip-path: circle(0px);
    transition: all 1.6s ease-in-out;
    pointer-events: none;
  }

  .line {
    width: 30px;
    height: 3px;
    background-color: #f1f1f1;
    margin: 5px;
  }

  .nav-links.open {
    clip-path: circle(1500px);
    -webkit-clip-path: circle(1500px);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 1.3rem;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.3s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.5s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.9s;
  }

  li.fade {
    opacity: 1;
  }
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  background-color: rgba(81, 76, 76, 0.918);
}

.projects {
  background-color: rgba(77, 211, 32, 0.815);
}

.contact {
  background-color: rgba(216, 202, 10, 0.882);
}
